.report__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    max-width: 100%;
    align-items: center;
}

.report__web-icon {
    position: relative;
    width: 60px;
    height: 60px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    border-radius: 8.57143px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    margin: 0 20px 0 0;
    background: #FFFFFF;
}

.report__web-icon img {
    position: absolute;
    max-width: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.report__web-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.report__web--title {
    font-size: 26px;
    font-style: normal;
    display: block;
    line-height: 39px;
    color: #130D41;
    letter-spacing: 0;
    box-sizing: border-box;
    font-weight: 900;;
}

.report__web--link {
    max-width: 850px;
    color: #596679;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 20px;
}

.download-button {
    padding: 20px;
    background-color: rgba(58, 181, 38, 1);
    font-size: 18px;
    position: relative;
    margin: 0;
    border: none;
    height: 36px;
    align-items: center;
    max-height: 43px;
    line-height: normal;
    text-transform: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    border-radius: 30px;
    color: white;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 10px 0 rgba(14,30,62,0.08);
    transition: all .15s ease;
}

.download-button img {
    color: white;
}

.download-button:hover {
    box-shadow: 0px 4px 6px rgba(14,30,62,0.2);
    transform: translateY(-2px);
    transition: all .15s ease;
}
