.input-link--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 10px
}

.input-link--container {
    max-width: 700px;
    width: 100%;
    max-width: 700px!important;
}

.form__container {
    display: flex;
    row-gap: 10px;
    justify-content: center;
    column-gap: 10px;
    min-width: 40%;
    height: 50px;
    box-sizing: border-box;
}


.input__page--title, .input__page--subtitle {
    text-align: center;
}

.input__page--title {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    margin: 5px 10px;
}

.input__page--subtitle {
    color: #596679;
    font-size: 22px;
    margin: 0 10px;
    margin-bottom: 35px;
}


.input-link--container button {
    font-weight: 500;
    width: 150px;
    border: none;
    border-radius: 10px;
}


@media screen and (max-width: 500px) {
    .input__page--title {
        font-size: 28px;
    }
    .input__page--subtitle {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .form__container {
        flex-wrap: wrap;
    }
    .input-link--form {
        margin: 0 10px;
    }
    .input__page--spinner {
        width: 20px;
        height: 20px;
    }
}