.report__metrix--head {
    margin-top: 60px;
    display: flex;
    padding: 15px 0;
}

.report__metrix--title {
    font-weight: 700;
    line-height: 24px;
    font-size: 18px;
    margin: 0 10px;
}

.report__metrix-card--wrapper {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 30px rgba(14, 30, 62, 0.08);
    width: 100%;
}

.report__metrix--core-head {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 30px;
    display: flex;
    column-gap: 10px;
}

.reprort__metrix--vitals {
    min-height: 200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}



.report__metrix--vitals-graphs { 
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    max-width: 60%;
    max-height: 100%;
    box-sizing: border-box;
}

.google-report--title {
    font-weight: 700;
    color: #130D41;
    display: flex;
    column-gap: 10px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.010em;
}

.google-report--desc {
    letter-spacing: 0.020em;
    font-size: 13px;
    margin-top: 10px;
}

.google-report {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-right: 30px;
    margin-left: 30px;
}

.separator-container {
    display: flex;
    align-items: center;
    min-height: 60%;
}

.separator {
    height: 70%;
    background-color: #0000003d;
    width: 1px;
}

.report__metrix--time-analys {
    background-color: rgb(249, 249, 249);
    padding: 0 15px;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.010em;
    line-height: 24px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
}

.time__analys--element {
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgb(238, 238, 238);
    height: 53px;
    min-height: 0;
    width: 100%;
    margin-right: 15px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.time__analys--element p {
    margin: 0 10px;
    color: #130D41;
    font-weight: 700;
    letter-spacing: 0.010em;
    line-height: 24px;
}

.time__analys--info {
    margin-left: auto;
    align-items: center;
    display: flex;

}

.time__analys--color-icon {
    height: 18px;
    width: 18px;
    margin-left: 10px;
}

.info__icon {
    position: relative;
}

.info__icon:hover .info__icon--msg {
    display: block;
}

.info__icon--msg {
    line-height: 20px !important;
    opacity: 0.9;
    font-size: 13px;
    border-radius: 5px;
    width: 250px;
    font-weight: 500 !important;
    padding: 10px;
    color: white !important;
    position: absolute;
    display: none;
    background-color: rgb(0, 86, 167);
    top: -30px;
    left: 30px;
    animation: scaleUp 0.1s;
}


@keyframes scaleUp {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }




@media screen and (max-width: 980px) {
    .report__metrix--vitals-graphs {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .google-report{
        display: none;
    }
    .separator-container {
        display: none;
    }
    .vitals__card {
        position: relative;
        padding-bottom: 35px !important;
        /* margin-bottom: 30px !important; */
        align-items: center;
        width: 70%;
    }
    .vitals__card--title {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .report__metrix--time-analys { 
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .report__metrix--title {
        font-size: 16px;
    }
    .report__metrix--head {
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .report__metrix--head {
        flex-direction: column;
        gap: 5px;
    }
    .time__analys--element {
        font-size: 13px;
    }
}






