

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(244,248,252);

}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    border-style: none;
}

.App {
    background-color: rgb(244,248,252);
}